    <td class="text-center"><a href="#tickets/view/{{id}}">{{id}}</a></td>
    <td>{{username}}</td>
    <td>{{name}}</td>
    <td>{{email}}</td>
    <td>{{last_login}}</td>
    <td>{{last_modified}}</td>
    <td>
        <a href="#user/edit/{{id}}" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </td>