    <td class="text-center"><label><input type="radio" name="ticketSelection" id="ticketSelection{{id}}" value="{{id}}"></label></td>
    <td><abbr title="{{statusDescription}}">{{statusLabel}}</abbr></td>
    <td>{{typeLabel}}</td>
    <td>{{date}}</td>
    <td>{{first_name}} {{last_name}}</td>
    <td>{{email}}</td>
    <td>{{country}}</td>
    <td>{{hash}}</td>